<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Sair</servlet-name>
        <servlet-class>controle.Sair</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarPreCadastro</servlet-name>
        <servlet-class>controle.GerenciarPreCadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirUsuarioC</servlet-name>
        <servlet-class>controle.InserirUsuarioC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirAgendamentoVendasC</servlet-name>
        <servlet-class>controle.InserirAgendamentoVendasC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EfetuarLogin</servlet-name>
        <servlet-class>controle.EfetuarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarAgendamento</servlet-name>
        <servlet-class>controle.GerenciarAgendamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarArea</servlet-name>
        <servlet-class>controle.GerenciarArea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarVendas</servlet-name>
        <servlet-class>controle.GerenciarVendas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPreCadastro</servlet-name>
        <servlet-class>controle.ExcluirPreCadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarFuncionarioU</servlet-name>
        <servlet-class>controle.GerenciarFuncionarioU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarClienteU</servlet-name>
        <servlet-class>controle.GerenciarClienteU</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sair</servlet-name>
        <url-pattern>/sair.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarPreCadastro</servlet-name>
        <url-pattern>/gerenciar_pre_cadastro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirUsuarioC</servlet-name>
        <url-pattern>/inserir_usuario_c.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirAgendamentoVendasC</servlet-name>
        <url-pattern>/inserir_agendamento_vendas_c.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EfetuarLogin</servlet-name>
        <url-pattern>/efetuar_login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarAgendamento</servlet-name>
        <url-pattern>/gerenciar_agendamento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarArea</servlet-name>
        <url-pattern>/gerenciar_area.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarVendas</servlet-name>
        <url-pattern>/gerenciar_vendas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPreCadastro</servlet-name>
        <url-pattern>/excluir_pre_cadastro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarFuncionarioU</servlet-name>
        <url-pattern>/gerenciar_funcionario_u.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarClienteU</servlet-name>
        <url-pattern>/gerenciar_cliente_u.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
