/* pagina login */     
main {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fff ;
    height: 700px;

}

.login-image {
    width: 80%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
    /* Centralizar a imagem */
    display: block;
    margin-left: auto;
    margin-right: auto;

    /* Descer um pouco mais a imagem */
    margin-top: 100px; /* Ajuste este valor conforme necessário */
}
