/* pagina quem somos */ 
.quem {

    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

p { 
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
}
/* coisas que aumentam*/ 
.vantagem-img {
    transition: transform 0.3s ease; /* Animação suave */
}

.vantagem-img:hover {
    transform: scale(1.2); /* Aumenta 20% do tamanho original */
}

.sobre{
    margin-top: 80px;
    background-color: whitesmoke
    
}
