*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{

    text-decoration: none;

}


/*css tem que arrumar  */
/* pagina index */ 


.conteudo{

    margin-top: 100px; /* Adicione um espaço para que o conteúdo não fique sob a navbar */
    padding: auto;

}

.titulo {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: 	#FF4500;
    padding: 20px;
    height: 200px;
}



.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.box {
    width: 30%;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* pagina quem somos */ 
.quem {

    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
h1 {color: red;
    font-size: 2em;
    margin-bottom: 20px;
    color: #0056b3;
    text-align: center;
}
p { 
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
}
/* coisas que aumentam*/ 
.vantagem-img {
    transition: transform 0.3s ease; /* Animação suave */
}

.vantagem-img:hover {
    transform: scale(1.2); /* Aumenta 20% do tamanho original */
}



/* pagina login */     
main {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fff ;
    height: 700px;

}

.login-image {
    width: 80%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
    /* Centralizar a imagem */
    display: block;
    margin-left: auto;
    margin-right: auto;

    /* Descer um pouco mais a imagem */
    margin-top: 100px; /* Ajuste este valor conforme necessário */
}

footer {
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

/* cor dos botoes*/      
.btn-red {
    background-color: #FF6347;
    border-color: #FF6347;
    color: white; /* Mantém o texto branco */
}

.btn-red:hover {
    background-color: red; /* Cor do botão ao passar o mouse */
    border-color: red;
}

/* Animação suave no hover */
.card:hover {
    transform: scale(1.05); /* Aumenta o tamanho do cartão */
    transition: transform 0.3s ease-in-out; /* Suaviza a transição */
}

.bg-vantagens{
    
    background: #d5d5d5;
}

